<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/telaPrincipal.css') }}">
</head>
<body>
  <div class="menu-container">
    <div class="header">
      <a href="{{ url_for('login') }}"class="logout-button">Sair</a>
      <img src="{{ url_for('static', filename='icones/login.png') }}" alt="perfil" class="perfil">
      <img src="{{ url_for('static', filename='Telas/imagens/menu-hambuguer.png') }}" alt="Menu" class="menu">
    </div>
      <!-- Balão de diálogo -->
  <div class="balloon">O que você gostaria de fazer?</div>

    
    <div class="menu-buttons">
      <button class="menu-button">
        <div class="circle">
          <a href="{{ url_for('emitir') }}">
            <img src="{{ url_for('static', filename='icones/Emitir Notas.png') }}" alt="Emitir Nota">
          </a>
        </div>
        <span>EMITIR NOTA</span>
      </button>

      <button class="menu-button">
        <div class="circle">
          <a href="{{ url_for('ler_nota') }}">
            <img src="{{ url_for('static', filename='icones/leitura.png') }}" alt="Leitura de Nota">
          </a>
        </div>
        <span>LEITURA DE NOTA</span>
      </button>

      <button class="menu-button">
        <div class="circle">
          <a href="{{ url_for('consultar') }}">
            <img src="{{ url_for('static', filename='icones/consultarnotas.png') }}" alt="Registros">
          </a>
        </div>
        <span>REGISTROS</span>
      </button>

      <button class="menu-button">
        <div class="circle">
          <a href="{{ url_for('validar_nota') }}">
            <img src="{{ url_for('static', filename='icones/validar.png') }}" alt="Validar Nota">
          </a>
        </div>
        <span>VALIDAR NOTA</span>
      </button>

      <button class="menu-button">
        <div class="circle">
          <a href="{{ url_for('pontuacao') }}">
            <img src="{{ url_for('static', filename='icones/pontuacao.png') }}" alt="Minha Pontuação">
          </a>
        </div>
        <span>MINHA PONTUÇÃO</span>
      </button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='JS/navigation.js') }}"></script>
</body>
</html>
