/* Contêiner principal */
.form-container {
    width: 90%;
    max-width: 400px; /* Ajustando largura para consistência */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    height: 100%;
}

/* Cabeçalho */
.header {
    background-color: #6FCF97;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
}

.header h2 {
    color: white;
    font-size: 20px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.logout-button {
    background-color: #006900;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #10571c;
}

/* Lista de Notas */
.notes-container {
    padding: 20px;
}

.notes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notes-list li {
    background-color: #E8F5E9;
    border: 1px solid #6FCF97;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

/* Ajuste para consistência */
.notes-list li:last-child {
    margin-bottom: 0;
}
