body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    width: 90%;
    max-width: 360px;
    background-color: #6FCF97;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .icon-user img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .login-container h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .login-container button {
    width: 90%;
    padding: 10px;
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #219653;
  }
  
  .logo img {
    width: 50px;
    margin-top: 20px;
  }
  