/* Estilo Global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header {
  background-color: #6FCF97;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header h2 {
  margin: 0 auto;
  font-size: 18px;
}

.logout-button {
  background-color: #e57373;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.action-button {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.action-button:hover {
  background-color: #219653;
}


/* Tela Inicial (Menu) */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .menu-container .header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 400px;
    background-color: #6FCF97;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .menu-container .header h2 {
    color: white;
    font-size: 18px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }
  
  .menu-container .logout-button {
    background-color: #ff2a2a;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .menu-container .logout-button:hover {
    background-color: #ff7979;
  }
  
  .menu-buttons {
    margin-top: 60px; /* Espaço abaixo do cabeçalho */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Organiza botões em 2 colunas */
    gap: 25px; /* Espaçamento entre os botões */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .menu-button .circle {
    width: 80px;
    height: 80px;
    background-color: #E8F5E9;
    border: 2px solid #6FCF97;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-button .circle img {
    width: 100%;
    height: 90%;
  }
  
  .menu-button span {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  /* Espaço entre o cabeçalho e a frase */
.menu-container p {
    margin-top: 100px; /* Ajuste o valor conforme necessário */
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  
  /* Melhorias para telas menores */
  @media screen and (max-width: 768px) {
    .form-container .header {
      padding: 8px 16px;
      flex-direction: row;
    }
  
    .form-container form {
      margin-top: 100px;
      padding: 0 10px;
    }
  
    .input-group input {
      font-size: 14px;
    }
  
    .action-button {
      font-size: 14px;
      padding: 10px;
    }
  }
  