<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Notas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/consultar.css') }}">
</head>
<body>
  <div class="form-container">
    <div class="header">
      <button class="logout-button" onclick="voltar()">Voltar</button>
      <h2>Notas Emitidas</h2>
    </div>
    <div class="notes-container">
      <ul id="notasList" class="notes-list">
        <!-- As notas serão populadas aqui via JavaScript -->
      </ul>
      <p id="noNotesMessage" style="display: none;">Nenhuma nota emitida encontrada.</p> <!-- Mensagem caso não haja notas -->
    </div>
  </div>
  <script src="{{ url_for('static', filename='JS/consultar.js') }}"></script>
</body>
</html>