<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Validar Nota Fiscal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/validarNota.css') }}">
</head>
<body>
  <!-- Cabeçalho com botão de voltar -->
  <div class="header">
    <button class="logout-button" onclick="voltar()">Voltar</button>
    <h2>Validar Nota Fiscal</h2>
  </div>

  <!-- Contêiner Principal -->
  <div class="validar-container">
    <div class="content">
      <div class="icon-section">
        <img src="{{ url_for('static', filename='icones/validar.png') }}" alt="Ícone de Validação de Nota Fiscal">
      </div>
      <form id="uploadForm" enctype="multipart/form-data" method="POST" action="{{ url_for('validar_nota') }}">       
        <p>Carregar Nota Fiscal</p>
        <input type="file" name="file" id="uploadInput" accept=".pdf, .jpeg, .jpg, .png" required />
        <button type="button" class="action-button" onclick="validateFile()">Validar</button>
        <div id="feedback"></div> <!-- Mensagem de feedback -->
      </form>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='JS/validarNota.js') }}"></script>
</body>
</html>